<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <h1>Please add your password</h1>
    </div>
    <div>
        <input type="password" placeholder="Add password" id="password1">
        <input type="password" placeholder="repeat password" id="password2">
    </div>
    <div>
        <button onclick="create_password();">Create!</button>
    </div>
</body>
<script type="text/javascript">

    function create_password()
    {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const participant_id = urlParams.get('id');
        const pass_one = document.getElementById("password1").value;
        const pass_two = document.getElementById("password2").value;
        console.log(pass_one)
        console.log(pass_two)
        url = "http://127.0.0.1:8000/create-password"
        if (pass_one === pass_two)
        {
            $.ajax({
                    type: "POST",
                    dataType:"JSON",
                    url:url,
                    data: {"participant_id": participant_id, "password": pass_one},
                    contentType: false,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function(data){
                        alert("Saved")
                    },
                    error: function(error){
                        console.log(error)
                    }
                });
        }
        else{
            alert("Password dont match")
        }
    }
</script>
</html>